In [1]:
import numpy as np
import pandas as pd
from montecarlo import Die
from montecarlo import Game
from montecarlo import Analyzer

SixSided1 = Die(faces=np.array([1,2,3,4,5,6]))
SixSided2 = Die(faces=np.array([1,2,3,4,5,6]))
SixSided3 = Die(faces=np.array([1,2,3,4,5,6]))

In [2]:
SixSided1.change_weight_single_side(1,100)
SixSided2.change_weight_single_side(1,100)
SixSided3.change_weight_single_side(1,100)

In [3]:
SixSided1.show_current_state()
SixSided2.show_current_state()
SixSided3.show_current_state()

   Faces  Weights
0      1    100.0
1      2      1.0
2      3      1.0
3      4      1.0
4      5      1.0
5      6      1.0
   Faces  Weights
0      1    100.0
1      2      1.0
2      3      1.0
3      4      1.0
4      5      1.0
5      6      1.0
   Faces  Weights
0      1    100.0
1      2      1.0
2      3      1.0
3      4      1.0
4      5      1.0
5      6      1.0

In [4]:
SixSided1.roll_die(3)

[1, 1, 1]

In [5]:
DieList = [SixSided1, SixSided2, SixSided3]

In [6]:
DieGame = Game(DieList)

In [7]:
DieGame.play(3)

   1  2  3
1  1  1  1
2  1  1  1
3  1  1  6

In [8]:
DieGame.show_results()

   1  2  3
1  1  1  1
2  1  1  1
3  1  1  6

   1  2  3
1  1  1  1
2  1  1  1
3  1  1  6

In [9]:
Analyzer1 = Analyzer(DieGame)

In [10]:
Analyzer1.jackpot()

2

In [11]:
Analyzer1.face_count()

            Face_count
Face_value
1                    8
2                    0
3                    0
4                    0
5                    0
6                    1